<!DOCTYPE html>
<html lang="en" ng-app="spotifyApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" ng-controller="searchController">
                <form role="form">
                    <h1 class="text-center">Search Title</h1>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" name="search" placeholder="Search" required ng-model="artistQuery" />
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit" ng-click="searchArtist()">
                                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                    <span>Search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12" ng-controller="artistsController">
                <div class="jumbotron">
                    <h1>Artists</h1>
                    <select class="input-lg" ng-model="idArtistSelected" ng-change="artistSelection()">
                        <option ng-repeat="artist in artists" value="{{artist.id}}">{{ artist.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" ng-controller="albumsController">
                <div class="jumbotron">
                    <h1>Albums</h1>
                    <select class="input-lg" ng-model="idAlbumSelected" ng-change="albumSelection()">
                        <option ng-repeat="album in albums" value="{{album.id}}">{{album.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Songs</h1>
                    <ul>
                        <li ng-repeat="song in songs">
                            <a href="{{song.preview_url}}" target="_blank">{{song.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://opensource.keycdn.com/angularjs/1.6.2/angular.min.js "></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/searchController.js"></script>
    <script type="text/javascript" src="js/controllers/artistsController.js"></script>
    <script type="text/javascript" src="js/controllers/albumsController.js"></script>
    <script type="text/javascript" src="js/services/spotifyService.js"></script>

</body>

</html>
