<form ng-controller="SearchFormController" action="" method="POST" class="form-inline search-form" role="form">
    <div class="form-group">
        <label class="sr-only" for="">label</label>
        <input ng-model="query" type="text" class="form-control input-lg" id="" placeholder="Buscar coches..." list="names">
        <datalist id="names">
            <option ng-repeat="employee in employees">{{ employee.first_name }} {{ employee.last_name }}</option>
        </datalist>
    </div>
    <button ng-click="search($event)" type="submit" class="btn btn-lg btn-primary">Buscar</button>
</form>
