link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')
.jumbotron
  .container
    h1
      | Welcome to 
      br
      | my ToDo List!
      p
      a.btn.btn-primary.btn-lg Todo-List
  .clear
.container
  .col-md-4
    .list-group
      li.list-group-item.active To Do List
      li.list-group-item
        | Shopping
        span.pull-right.bigger.blue2.glyphicon.glyphicon-question-sign
      li.list-group-item
        | Washing
        span.pull-right.bigger.blue2.glyphicon.glyphicon-question-sign
      li.list-group-item
        | Cleaning
        span.pull-right.bigger.blue2.glyphicon.glyphicon-question-sign
      li.list-group-item
        | Gardening
        span.pull-right.bigger.blue2.glyphicon.glyphicon-question-sign
