.panel.panel-default
  .panel-heading.text-center
    h4 Review Order
  .panel-body
    .col-md-12
      strong Subtotal (# item)
      .pull-right
        span $
        span 200.00
    .col-md-12
      strong Tax
      .pull-right
        span $
        span 200.00
    .col-md-12
      small Shipping
      .pull-right
        span -
      hr
    .col-md-12
      strong Order Total
      .pull-right
        span $
        span 150.00
      hr
    button.btn.btn-primary.btn-lg.btn-block(type='button') Checkout
// REVIEW ORDER END

