@font-face {
  font-family: "Eraser";
  src: url(/font/EraserRegular.ttf);
}

h1, p {
    font-family: Eraser;
}

.btn{
    border-radius: 20px;
    padding: 2px 10px;
    margin-bottom: 6px;
    font-size: 18px;
    font-family: Eraser;
}

form {
    display: inline-block;
}
input {
    background: ghostwhite;
    color: green;
    font-size: 24px;
    border: 1px solid black;
    opacity: 0.7;
}
.list {
    font-family: Eraser;
    font-size:24px;
    cursor:pointer;
    list-style:none;
}

.list .glyphicon {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
