@font-face {
  font-family: "Eraser";
  src: url(/font/EraserRegular.ttf);
}

h1 {
    font-family: Eraser;
}

body{
    color: black;
    /* background: url(/img/chalkboard.png); */
}

.btn{
    border-radius: 20px;
    padding: 2px 10px;
    margin-bottom: 6px;
    font-size: 18px;
    font-family: Eraser;
}

form {
    display: inline-block;
}
input {
    background: ghostwhite;
    color: green;
    font-size: 24px;
    border: 1px solid black;
    opacity: 0.7;
}
.list {
    font-family: Eraser;
    font-size:24px;
    /* color: ghostwhite; */
    cursor:pointer;
    list-style:none;
}
