.main-header {
  position: relative;
  width: 100%;
}

.cart-status {
  color: white;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 18px;
}
.cart-status i {
  margin-right: 10px;
}

.cart-status a {
  color: white;
  cursor: pointer;
}

.container.main {
  margin-top: 50px;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
}
.list-products li {
  width: 200px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}
.list-products img {
  margin-right: 20px;
}

.list-products .price {
  display: block;
  font-size: 20px;
  margin-top:10px;
}

.list-cart .item-name {
  font-size: 20px;
}

.btn {
  margin-bottom: 4px;
}
