<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container" style="border-bottom:1px solid black">
                    <h2>Details for {{ dataEmployee.first_name }} {{ dataEmployee.last_name }}</h2>
                </div>
                <hr>
                <ul class="container details">
                    <li>
                        <p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ dataEmployee.email }}</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">{{dataEmployee.ip_address}}</p></a>
                </ul>
            </div>
        </div>
    </div>
</div>