doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title My toDo List
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include includes/styles.pug
  body
  .container
    block content

    include includes/scripts.pug


