extends layout

block content
  .container
    .row
      .col-md-5.col-mdoffset-2
        h1 My ToDo List
        form(name='checkListForm' action ='/list', method='POST')
          input.form-control(type='text', name='item', placeholder='Add New task...', autofocus)
          span.input-group-btn
          button#add.btn.btn-primary(type='button') Add task
        hr
        br
        ul#sortable.list.list-unstyled.listgroup
          //- each item in list
          li.list-group.item
              .content
                //- p #{list.username}&nbsp;
        button#clear.btn.btn-danger(type='button', title='Clear checked items') Delete 
      .col-md-offset-1.col-md-4
        h1 Done Tasks
        br
        ul.list.list-unstyled.listgroup
