extends ../layout

block content
  h1 List of products

  ul.list-products.list-unstyled
    each product in products
      li
        p
          img(src=product.image, width="100%" )
          span #{product.productName}
          span.price #{product.price}
          //form(action="/cart-native", method="POST")
          form.add-to-cart-ajax(action="/cart-ajax", method="POST")
            label(for="quantity") Quantity
            input(name="quantity", id="quantity", type="number")
            input(name="id", value=product.id, type="hidden")
            button.btn.btn-primary Add To Cart


